<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/log4j-1.2.16.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/spring-context-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jar/Spring1/spring-expression-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>